<article class="category" id="<%= dom_id group %>">
  <div class="icon-name-container" >
    <%= link_to image_tag(group.icon), group, class: "category-icon"%>
    <%= link_to group.name, group, class: "category-name" %>
  </div>
  <strong class="category-amount" >$17.00</strong>
</article>
